@use '../../styles/vars';
@use 'sass:color';

.App {
  text-align: center;
  position: relative;
}

.large-header {
  position: absolute;
  width: 100%;
  background: #333;
  // overflow:scroll;
  overflow-x: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  
}

#large-header {
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/04/07/65/755812093598c83.jpg');
  background-size: 100% 100%;
}

.canvas{
  position:absolute;
}

.main {
  // position: absolute;
  margin: 0;
  padding: 0;
  color: vars.$color-text;
  text-align: center;
  width: auto;
  // height: auto;
  // -webkit-transform: translate3d(0%,-100%,0);
  // transform: translate3d(0%,-100%,0%);
}

.demo-1 .main {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main .thin {
  font-weight: 200;
}

@media only screen and (max-width : 768px) {
  .demo-1 .main {
    font-size: 3em;
  }
}


