@use '../../styles/vars';
@use 'sass:color';

.large-header {
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;  
}

.canvas{
  position:absolute;
}

.main {
  margin: 0;
  padding: 0;
  color: vars.$color-text;
  width: auto;
}

.demo-1 .main {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main .thin {
  font-weight: 200;
}

@media only screen and (max-width : 768px) {
  .demo-1 .main {
    font-size: 3em;
  }
}


