@use '../../styles/vars';
@use 'sass:color';

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.Contact{
    position: inherit;
    width: 100%;
    color: vars.$color-text;
    margin-top : 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-h1{
        font-size: 2rem;
        margin:1rem;
        margin-top: 1.5rem;
        font-weight: bold;
        overflow: hidden;
        border-right: .3em solid orange;
        white-space: nowrap;
        margin: 0 auto;
        letter-spacing: .15em;
        animation: 
            typing 3.5s steps(30, end),
            blink-caret .5s step-end infinite;
    }

    &-email{
        font-weight: bold;
        font-size: 1.7rem;
        margin: 1rem;
        margin-top: 4rem;
    }

    &-linkedin{
        position: relative;
        width: 150px;
    }

    &-GitHub{
        position: relative;
        width: 150px;
    }

}