@use '../../styles/vars';
@use 'sass:color';

@keyframes shine{
    0% {background-position: 0}    
    60%{background-position: 180px}    
    100%{background-position: 260px}     
}  

.Photo{
    width: 100%;    
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;       

    &-Me{
        background-image: url('../../../public/photo_cyril.jpg');
        background-size: 100%;
        border-radius: 50%;
        border: 3px solid white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        height: 10rem;
        width: 10rem;
        margin-top: 7rem;    
    }

    &-Presentation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        
        &-h1{
            font-size: 1.8rem;
            margin-top: 2rem;
        }

        &-h2{
            font-size: 1.1rem;
            margin-top: 1.5rem;
            position: relative;
            margin-left: 23rem;
            padding-left: 50%;
            transform: translate(-50%,-50%);
            padding: 12px 48px;
            color: #ffffff;
            background: linear-gradient(to right, #929292 0, white 10%, #929292 20%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: shine 3s infinite linear;
            animation-fill-mode: forwards;
            -webkit-text-size-adjust: none;
            font-weight: 600;
            text-decoration: none;
            white-space: nowrap;
            text-align: center;
        }

    }
   
}    

